body {
	background-color: white;
	color: black;
}
h2 {
  text-align: center;
}
.navbar-brand {
  filter: invert(0%);
  -webkit-filter: invert(0%);
  padding: 0px 15px;
}

#night-label {
	margin-bottom: 5px;
}

.main-container {
	width: 90%;
	margin-left: 5%;
}

.center-container {
  text-align: center;
}

.input-group-btn .btn {
    margin-top: 25px;
}

li .switch {
  margin-top: 8px;
  margin-bottom: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tabBlock {
  background-color:#57574f;
  border:solid 0px #FFA54F;
  border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
  max-width:188px;
  width:100%;
  overflow:hidden;
  display:block;
}
.clock {
  vertical-align:middle;
  font-family:Orbitron;
  font-size:40px;
  font-weight:normal;
  color:#FFF;
  padding:0 10px;
}
#date {
  font-size: 13px;
}
.clocklg {
  vertical-align:middle; 
  font-family:Orbitron;
  font-size:20px;
  font-weight:normal;
  color:#FFF;
}

#clean-table table, #clean-table td {
  border: 1px solid black;
}

#clean-table table {
  margin-left: auto;
  margin-right: auto;
}

#clean-table td {
  font-size: 14px;
  padding: 10px 5px;
  min-width: 130px;
  text-align: center;
}

#clean-table td:hover {
  background-color: grey;
}
#clean-table td:active {
  background-color: yellow;
}
